---
// Importar componentes necesarios desde sus archivos individuales
import EmailInput from "./input/EmailInput.astro";
import PasswordInput from "./input/PasswordInput.astro";
import Checkbox from "./input/Checkbox.astro";
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import GoogleBtn from "@components/ui/buttons/GoogleBtn.astro";

// Variables para la personalización del componente LoginModal
const config = {
  id: "hs-toggle-between-modals-login-modal", // IDENTIFICADOR del Modal
  title: "Iniciar sesión", // ENCABEZADO Principal
  subTitle: "¿Aún no tienes cuenta?", // TEXTO del Sub-encabezado
  registerBtn: "Regístrate aquí", // Texto para el BOTÓN DE REGISTRO
  registerBtnDataHS: "#hs-toggle-between-modals-register-modal", // ENLACE OBJETIVO para el botón de registro
};
---

<div
  id={config.id}
  class="hs-overlay absolute start-0 top-0 z-50 hidden h-full w-full hs-overlay-backdrop-open:bg-neutral-900/90"
>
  <div
    class="m-3 mt-0 opacity-0 transition-all ease-out hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 sm:mx-auto sm:w-full sm:max-w-lg"
  >
    <div class="mx-auto w-full max-w-md p-6">
      <div
        class="mt-7 rounded-xl border border-neutral-200 bg-neutral-100 shadow-sm dark:border-neutral-700 dark:bg-neutral-800"
      >
        <div class="p-4 sm:p-7">
          <div class="text-center">
            <div
              class="block text-2xl font-bold text-neutral-800 dark:text-neutral-200"
              role="heading"
              aria-level="1"
              aria-label={config.title}
            >
              {config.title}
            </div>
            <p class="mt-2 text-sm text-neutral-600 dark:text-neutral-400">
              {config.subTitle}
              <button
                class="rounded-lg p-1 font-medium text-red-600 decoration-2 outline-none ring-zinc-500 hover:underline focus-visible:ring-3 dark:text-red-500 dark:ring-zinc-200 dark:focus:outline-none"
                data-hs-overlay={config.registerBtnDataHS}
              >
                {config.registerBtn}
              </button>
            </p>
          </div>
          <div class="mt-5">
            <GoogleBtn title="Iniciar con Google" />

            <div
              class="flex items-center py-3 text-xs uppercase text-neutral-400 before:me-6 before:flex-[1_1_0%] before:border-t before:border-neutral-200 after:ms-6 after:flex-[1_1_0%] after:border-t after:border-neutral-200 dark:text-neutral-500 dark:before:border-neutral-600 dark:after:border-neutral-600"
            >
              O
            </div>
            <form>
              <div class="grid gap-y-4">
                <EmailInput id="login-email" errorId="login-email-error" />
                <PasswordInput
                  forgot={true}
                  id="password"
                  errorId="login-password-error"
                  content="Se requieren 8+ caracteres"
                />
                <Checkbox id="remember-me" />
                <AuthBtn title="Iniciar sesión" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>