---
import Icon from "@components/ui/icons/Icon.astro";

// Definir las propiedades que recibe el componente
const { id, collapseId, question, answer, first } = Astro.props;

// Definir la interfaz TypeScript para las props
interface Props {
  id: string;
  collapseId: string;
  question: string;
  answer: string;
  first?: boolean;
}

// Clases por defecto para el acordeón y su contenido
const ACCORDION_CLASS_DEFAULT = "hs-accordion pb-3 active";
const ACCORDION_CLASS_COLLAPSED = "hs-accordion pt-6 pb-3";
const ACCORDION_CONTENT_CLASS =
  "hs-accordion-content w-full overflow-hidden transition-[height] duration-300";

// Función auxiliar para retornar la clase correcta
function getAccordionClass(first: boolean = false) {
  return first ? ACCORDION_CLASS_DEFAULT : ACCORDION_CLASS_COLLAPSED;
}
---

<div class={getAccordionClass(first)} id={id}>
  <button
    class="hs-accordion-toggle group inline-flex w-full items-center justify-between gap-x-3 text-balance rounded-lg pb-3 text-start font-bold text-neutral-800 outline-none ring-zinc-500 transition hover:text-red-600 focus-visible:ring-3 dark:text-neutral-200 dark:ring-zinc-200 dark:hover:text-red-500 dark:focus:outline-none md:text-lg"
    aria-controls={collapseId}
  >
    {question}
    <Icon name="accordionNotActive" />

    <Icon name="accordionActive" />
  </button>
  
  <div
    aria-labelledby={id}
    class={`${first ? ACCORDION_CONTENT_CLASS : "hidden " + ACCORDION_CONTENT_CLASS}`}
    id={collapseId}
  >
    <p class="text-pretty text-neutral-600 dark:text-neutral-400">
      {answer}
    </p>
  </div>
</div>