---
// Importar el componente Image de astro:assets
import { Image } from "astro:assets";

// Desestructurar las propiedades del componente desde Astro.props
const { id, aria, src, alt, first, second } = Astro.props;

// Definir la interfaz TypeScript para las propiedades
interface Props {
  id: string;
  aria: string;
  src?: any;
  alt: string;
  first?: boolean;
  second?: boolean;
}

// Establecer clase basada en la propiedad 'first'
// Si 'first' está presente, muestra el contenido de la pestaña inmediatamente
const firstClass = first ? "" : "hidden";

// Establecer clase basada en la propiedad 'second'
// Si 'second' está presente, usa un estilo alternativo para la imagen
const secondClass = second
  ? "shadow-xl aspect-5/4 bg-neutral-300 dark:bg-neutral-600 object-cover p-3 lg:aspect-auto shadow-neutral-200 rounded-xl dark:shadow-neutral-900/[.2]"
  : "shadow-xl aspect-3/2 object-cover lg:aspect-auto shadow-neutral-200 rounded-xl dark:shadow-neutral-900/[.2]";

/*
first: Esta propiedad debe establecerse en true para el componente TabContent inicial
en tu lista para asegurar que sea visible cuando la página cargue por primera vez.
Todos los componentes TabContent subsiguientes deben omitir esta propiedad o establecerla en false.

second: Esta propiedad permite controlar cambios en la apariencia de la Imagen.
Si se establece en true, la Imagen tendrá diferente relación de aspecto y color de fondo.
Si esta propiedad no se proporciona o es false, la Imagen usará el estilo por defecto.
Puedes habilitar esto para cualquier componente TabContent al que quieras aplicar estos cambios.

Este es el ejemplo completo:
<TabContent id="" aria="" src="" alt="" first={true}/>
<TabContent id="" aria="" src="" alt="" second={true}/>
<TabContent id="" aria="" src="" alt="" />
*/
---

<div id={id} role="tabpanel" class={firstClass} aria-labelledby={aria}>
  <Image
    src={src}
    alt={alt}
    class={secondClass}
    draggable={"false"}
    format={"avif"}
    loading={"eager"}
  />
</div>