---
// Importación de componentes
import MainLayout from "@/layouts/MainLayout.astro";
import Btn404 from "@components/ui/buttons/Btn404.astro";
import { SITE } from "@data/constants";

// Definir tipos para las traducciones (Español e Inglés)
type TranslationKeys = "es" | "en";
type Translations = {
  [key in TranslationKeys]: {
    pageTitle: string;
    subTitle: string;
    content: string;
    btnTitle: string;
  };
};

// Definir variables de contenido
const defaultLang: TranslationKeys = "es";
const translations: Translations = {
  es: {
    pageTitle: `Página No Encontrada | ${SITE.title}`,
    subTitle: "¡Parece que hubo un cortocircuito!",
    content:
      "La página que buscas no está disponible o ha sido movida. Verifiquemos tus conexiones y volvamos a la corriente principal.",
    btnTitle: "Volver Atrás",
  },
  en: {
    pageTitle: `Page Not Found | ${SITE.title}`,
    subTitle: "Oops, looks like a short circuit!",
    content:
      "The page you are looking for isn't available. Let's check your connections and get you back on track.",
    btnTitle: "Go Back",
  },
};

// Determinar el idioma basado en la URL
const urlPath = Astro.url.pathname;
const langCodeMatch = urlPath.match(/^\/(en|es)\//);
const lang: TranslationKeys = langCodeMatch
  ? (langCodeMatch[1] as TranslationKeys)
  : defaultLang;

const { pageTitle, subTitle, content, btnTitle } = translations[lang];
---

<MainLayout title={pageTitle}>
  <section class="grid h-svh place-content-center">
    <div class="mx-auto max-w-(--breakpoint-xl) px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto max-w-(--breakpoint-sm) text-center">
        <h1
          class="text-dark mb-4 text-7xl font-extrabold text-red-600 dark:text-red-500 lg:text-9xl"
        >
          404
        </h1>
        <p
          id="subtitle"
          class="mb-4 text-balance text-3xl font-bold tracking-tight text-neutral-700 dark:text-neutral-300 md:text-4xl"
        >
          {subTitle}
        </p>
        <p
          id="content"
          class="mb-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
        >
          {content}
        </p>
        <Btn404 title={btnTitle} id="go-back" />
      </div>
    </div>
  </section>
</MainLayout>

<script>
  const goBackButton = document.getElementById("go-back") as HTMLButtonElement;

  if (goBackButton) {
    goBackButton.addEventListener("click", () => {
      history.back();
    });
  }
</script>