---
import Icon from "@components/ui/icons/Icon.astro";

// Desestructurar las propiedades de Astro.props
const { title, id, noArrow } = Astro.props;

// Definir interfaz TypeScript para las propiedades
interface Props {
  title?: string;
  id?: string;
  noArrow?: boolean;
}

// Definir clases CSS para estilizar el botón
const baseClasses =
  "group inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-sm font-bold text-neutral-50 ring-zinc-500 transition duration-300 focus-visible:ring-3 outline-none";
const borderClasses = "border border-transparent";
// CAMBIO: Se actualizó de naranja a ROJO (red-600 / red-700) para la marca MCP Electric
const bgColorClasses =
  "bg-red-600 hover:bg-red-700 active:bg-red-700 dark:focus:outline-none";
const disableClasses = "disabled:pointer-events-none disabled:opacity-50";
const fontSizeClasses = "2xl:text-base";
const ringClasses = "dark:ring-zinc-200";
---

<button
  class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses}`}
  id={id}
>
  {title}
  {noArrow ? null : <Icon name="arrowRight" />}
</button>